.life-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    height: 3%;
}

.life-img {
    width: 70px;
    height: auto;
    margin-right: 10px;
}