body {
  font-family: 'Noto Serif', serif;
  background-color: black;
  color: white;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  background-position: center;
}

.main-content {
  display: flex;
  padding: 10vh 5vw;
}

.left-side,
.right-side {
  width: 35vw;
  height: 45vw;
}

.center {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Alinea  elementos al principio (parte superior) */
  height: 45vw;
}

.status-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.status-part {
  width: 48%;
  text-align: left;
}

.center h2 {
  border-radius: 3%;
  text-align: center;

}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stat {
  text-align: center;
  font-size: 2vw;
}

.stat label {
  font-size: 1.5vw;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: auto;
}

.action-btn {
  font-size: 1.5vw;
  width: 15vw;
  height: 5vh;
  line-height: 5vh;
  padding: 0;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.action-btn:hover {
  background-color: gray;
  color: black;
}

.winner {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.winner-img {
  width: 5vw;
  height: auto;
}

.agatha-winner {
  position: absolute;
  left: -15vw;
  top: 5vh;
}

.wanda-winner {
  position: absolute;
  right: -15vw;
  top: 5vh;
}

.winner .winner-img.agatha-winner.visible,
.winner .winner-img.wanda-winner.visible {
  display: block;
}